body {
  background-color: grey;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todayContainer {
  border: 1px solid black;
  width: 600px;
  height: 450px;
  border-radius: 20px;
  margin: 100px 0 20px 0;
  position: relative;
  background-color: wheat;
}

.weekContainer {
  border: 1px solid black;
  width: 600px;
  height: 600px;
  border-radius: 20px;
  overflow: scroll;
}

.location-date {
  padding: 15px;
}
.imgWeather {
  display: flex;
}
.imgWeather img {
  width: 100px;
  padding-left: 15px;
  margin-right: 10px;
}
.degree {
  font-size: 30px;
}
.todayDegree {
  display: flex;
  overflow: scroll;
}

.hourlyDegree {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin-left: 10px;
  margin-top: 20px;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.hourlyDegree img {
  width: 50px;
}
#time {
  margin-bottom: 10px;
}
#degreeDay {
  margin-top: 10px;
}

.week {
  display: flex;
  flex-direction: column;
}
.days {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  background-color: rgba(207, 205, 205, 0.548);
}
.days img {
  width: 50px;
  margin-top: 15px;
}

.info {
  line-height: 30px;
  margin-left: 120px;

  border: 1px solid black;
  border-radius: 10px;
  padding-right: 40px;
  background-color: rgba(192, 189, 189, 0.562);
}
.info ul {
  list-style: none;
}
