@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background-color: grey;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  margin: 0 auto;
  width: 650px;
  font-weight: bold;
}
.cloudy-day {
  background-image: url("assets/peyman-farmani-c-lVI683QwU-unsplash.jpg");
  font-weight: 900;
  background-position: top;
}
.cloudy-night {
  background-image: url("assets/night.webp");
}
.rainy-day {
  background-image: url("assets/xianyu-hao-n6pu9ZDOaN4-unsplash.jpg");
  background-size: cover;
}

.clear-day {
  background-image: url("assets/after_noon.png.webp");
}
.clear-night {
  background-image: url("assets/night.webp");
}

.todayContainer {
  width: 600px;
  height: 450px;
  border-radius: 20px;
  margin: 100px 0 20px 0;
  position: relative;
  background-color: rgba(194, 193, 193, 0.534);
  padding: 15px;
  z-index: 1;
  font-size: 13px;
}

.darkGrey {
  background-color: rgba(141, 140, 140, 0.911);
}

.weekContainer {
  position: relative;
  width: 600px;
  height: 500px;
  border-radius: 20px;
  overflow: scroll;
  padding: 15px;
  margin-bottom: 10px;
  z-index: 1;
  background-color: rgba(194, 193, 193, 0.548);
}

.location-date {
  padding: 15px;
}
.imgWeather {
  display: flex;
}
.imgWeather img {
  width: 100px;
  padding-left: 15px;
  margin-right: 10px;
}
.degree {
  font-size: 30px;
}
.todayDegree {
  display: flex;
  overflow: scroll;
  font-size: 18px;
  font-weight: 900;
  position: relative;
}

.hourlyDegree {
  display: flex;
  flex-direction: column;
  width: 50px;
  margin-left: 10px;
  margin-top: 20px;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.hourlyDegree img {
  width: 50px;
}
#time {
  margin-bottom: 10px;
}
#degreeDay {
  margin-top: 10px;
}

.week {
  display: flex;
  flex-direction: column;
}
.days {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}
.days img {
  width: 50px;
}
.days span {
  width: 90px;
}

.info {
  padding: 3px;
  height: 150px;
  width: 200px;
  line-height: 30px;
  margin-left: 200px;
  border-radius: 10px;
  background-color: rgba(192, 189, 189, 0.562);
}
.info ul {
  list-style: none;
}

#error {
  color: red;
  text-align: center;
}

.menu-btn {
  position: absolute;
  border: none;
  left: 420px;
  top: 20px;
  margin-top: 10px;
  background-color: inherit;
}

.menu-btn:hover {
  cursor: pointer;
}

.left-arrow {
  color: black;
  padding: 15px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(174, 172, 172, 0.397);
  position: absolute;
  margin-top: 80px;
  font-family: "Roboto", sans-serif;
}
.right-arrow {
  color: black;
  padding: 15px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(174, 172, 172, 0.397);
  position: absolute;
  margin-top: 80px;
  right: 10px;
  font-family: "Roboto", sans-serif;
}
.menu-page {
  position: absolute;
  overflow: scroll;
  width: 400px;
  left: 395px;
  height: 1140px;
  border-radius: 3px;
  z-index: 1;
  background-color: whitesmoke;
}
.search-bar {
  display: flex;
  justify-content: space-between;
}

.search-bar input {
  width: 300px;
  height: 35px;
  border-radius: 3px;
  margin: 15px;
}
.search-bar button {
  border: none;
  background-color: whitesmoke;
  margin: 15px;
  font-size: 15px;
  cursor: pointer;
  width: 30px;
}
.close {
  display: none;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  position: relative;
}
.cities-container {
  display: flex;
  flex-direction: column;
}
.city {
  border-radius: 4px;
  margin: 10px;
  width: 380px;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  position: relative;
  box-sizing: border-box;
  background-color: white;
}

.city h4 {
  width: 50px;
}

.city img {
  width: 50px;
  height: 50px;
}

.remove-btn {
  position: absolute;
  right: 2px;
  top: 1px;
  border: none;
  background-color: inherit;
  color: red;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .weekContainer {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    overflow: scroll;
    padding: 15px;
    margin-bottom: 10px;
    z-index: 1;
    background-color: rgba(194, 193, 193, 0.548);
  }
  .todayContainer {
    width: 500px;
    height: 450px;
    border-radius: 20px;
    margin: 100px 0 20px 0;
    position: relative;
    background-color: rgba(194, 193, 193, 0.534);
    padding: 15px;
    z-index: 1;
    font-size: 13px;
  }
  .info ul {
    padding: 3px;
    height: 70px;
    border-radius: 10px;
  }
  .menu-btn {
    position: absolute;
    border: none;
    left: 40px;
    margin-top: 10px;
    background-color: inherit;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin: 0 auto;
    width: 550px;
    font-weight: bold;
  }
  .weekContainer {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    overflow: scroll;
    padding: 15px;
    margin-bottom: 10px;
    z-index: 1;
    background-color: rgba(194, 193, 193, 0.548);
  }
  .todayContainer {
    width: 500px;
    height: 450px;
    border-radius: 20px;
    margin: 100px 0 20px 0;
    position: relative;
    background-color: rgba(194, 193, 193, 0.534);
    padding: 15px;
    z-index: 1;
    font-size: 13px;
  }
  .info ul {
    padding: 3px;
    height: 70px;
    border-radius: 10px;
  }
  .menu-page {
    position: absolute;
    width: 400px;
    left: 10px;
    height: 1140px;
    border-radius: 3px;
    z-index: 1;
    background-color: whitesmoke;
  }
}

@media only screen and (max-width: 768px) {
  .menu-btn {
    position: absolute;
    border: none;
    left: 60px;
    margin-top: 10px;
    background-color: inherit;
  }
  .menu-page {
    position: absolute;
    width: 400px;
    left: 60px;
    height: 1140px;
    border-radius: 3px;
    z-index: 1;
    background-color: whitesmoke;
  }
}
